<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'predictor/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Code Rating Converter</h1>
        <p>Choose an option:</p>
        <ul>
            <li><a href="{% url 'codeforces_to_codechef' %}" class="button">Convert Codeforces to CodeChef</a></li>
            <li><a href="{% url 'codechef_to_codeforces' %}" class="button">Convert CodeChef to Codeforces</a></li>
        </ul>
    </div>
</body>
</html>
