/* Applying a linear gradient background */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #00feba , #5b548a);/* Gradient from left to right */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 800px;
    background-color: rgba(182, 189, 189, 0.818); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.739);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}
h2 { color:rgba(0, 0, 0, 0.818)
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c083c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: #ff6f00;
}

#loading-gif {
    margin-top: 20px;
}
